<div class="jumbotron">
  <h2 class="display-8">О нас</h2>
  <h3>
  <p class="lead">

    Веб-сайт осуществляет поддержку владельцов малого бизнеса и ИП в области <%= link_to "расчета", new_payment_path %> и мониторинга налоговых выплат, а также
    предоставляет возможность учавствовать в локальных беседах с пользователями и специалистами в чатах (анонимно) , в которых можно задавать вопросы на волнующие темы,
    заводить полезные знакомства, консультироваться и обмениваться контактами.

  </p>
  </h3>
  <hr class="my-2">
  <h6>
    Также на сайте представлены <%= link_to "контакты", home_contacts_path %> наших сотрудников, которые готовы помочь Вам в области бухгалтерских услуг.
  </h6>

<% unless user_signed_in? %>
  <hr class="my-2">
  <p>
    <%= link_to "Регистрируйтесь",  new_user_registration_path %>, если еще не сделали этого, чтобы воспользоваться сервисом общения с пользователями и мониторинга своих налоговых расчетов.
    </p>

</div>
<% end %>
