<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
      Приветствуем Вас в нашем чате
      </h4>

      <p>
        Вы можете присоединиться к любой комнате.
      </p>

      <hr/>

      <p>
        Также Вы можете создать комнату самостоятельно. ** По возможности тематизируйте название комнаты.
      </p>
    </div>
  </div>
</div>
